<!-- Toogle language -->
{% if site.languages.size >= 2 %}
  {% if site.languages.size == 2 %}
    {% if site.active_lang == site.languages.first %}
      {% assign other_language = site.languages.last %}
    {% else %}
      {% assign other_language = site.languages.first %}
    {% endif %}
    <button class="btn">
      {% if site.active_lang == site.default_lang %}
        <a class="nav-link" {% static_href -%} href="{{ site.baseurl }}/{{ other_language }}{{ page.url }}" {%- endstatic_href %}>
          {{ other_language | upcase }}
        </a>
      {% else %}
        <a class="nav-link" {% static_href -%} href="{{ site.baseurl }}{{ page.url }}" {%- endstatic_href %}>
          {{ site.default_lang | upcase }}
        </a>
      {% endif %}
    </button>
  {% else %}
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="languageDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{- site.active_lang | upcase }}
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
        {% assign language_set = false %}
        {% for l in site.languages %}
          {% if l != site.active_lang %}
            {% if language_set %}
              <div class="dropdown-divider"></div>
            {% endif %}
            {% if l == site.default_lang %}
              <li></li><a class="dropdown-item" {% static_href -%} href="{{ site.baseurl }}{{ page.url }}" {%- endstatic_href %}>
                {{ l | upcase }}
              </a></li>
            {% else %}
              <li><a class="dropdown-item" {% static_href -%} href="{{ site.baseurl }}/{{ l }}{{ page.url }}" {%- endstatic_href %}>
                {{ l | upcase }}
              </a></li>
            {% endif %}
            {% assign language_set = true %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}