<!DOCTYPE html>
<html lang="{{ site.active_lang }}" data-mdb-theme="dark">
<head>
  {% include head.liquid %}
</head>

<!-- https://fastbootstrap.com/docs/margin/-->
<body class="m-4">
  {% include github_corner.liquid %}

  <h1>{{ page.products_to_expire }}</h1>

  <div id="login-container">
    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">
    <button id="login-btn">Login</button>
    <button id="signup-btn">Sign Up</button>
    <button id="logout-btn" style="display:none;">Logout</button>
  </div>

  <ul class="nav nav-tabs" id="tabs" role="tablist" style="display:none;">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="foods-tab" data-bs-toggle="tab" data-bs-target="#foods-tab-pane" type="button" role="tab" aria-controls="foods-tab-pane" aria-selected="true">{{ page.foods }}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="medicines-tab" data-bs-toggle="tab" data-bs-target="#medicines-tab-pane" type="button" role="tab" aria-controls="medicines-tab-pane" aria-selected="false">{{ page.medicines }}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options-tab-pane" type="button" role="tab" aria-controls="options-tab-pane" aria-selected="false">{{ page.options }}</button>
    </li>
  </ul>

  <div class="tab-content" id="tabsContents" style="display:none;">
    {% include foods_tab.liquid %}
    {% include medicines_tab.liquid %}
    {% include settings_tab.liquid %}
  </div>

  {%  include edit_item_modal.liquid %}
  {%  include add_item_modal.liquid %}

  {% include external_scripts.liquid %}
  {% include script.liquid %}
</body>
</html>
